In [41]:
import pandas as pd

In [42]:
bike_df = pd.read_csv('data/citibike-tripdata.csv')

In [43]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [44]:
bike_df['start station id'].mode()

0    281.0
dtype: float64

In [45]:
bike_df['bikeid'].mode()

0    33887
dtype: int64

In [46]:
round(bike_df['usertype'].value_counts(normalize=True), 2)

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

In [47]:
bike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [48]:
bike_df['birth year'].max()

2002

In [49]:
bike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [50]:
bike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [51]:
bike_df.describe(include='object')

,starttime,stoptime,start station name,end station name,usertype
count,300000,300000,299831,299831,300000
unique,299836,299813,759,765,2
top,2018-09-02 13:59:41.7770,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,2,1928,1963,232202

In [52]:
bike_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,494.0,W 26 St & 8 Ave,40.747348,-73.997236,448.0,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,3016.0,Kent Ave & N 7 St,40.720368,-73.961651,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,3686.0,Gansevoort St & Hudson St,40.739448,-74.005070,168.0,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,254.0,W 11 St & 6 Ave,40.735324,-73.998004,499.0,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1

In [54]:
bike_df = bike_df.drop('start station id', axis =1)
bike_df = bike_df.drop('end station id', axis =1)

In [56]:
bike_df.shape

(300000, 12)

In [57]:
bike_df['age'] = bike_df['birth year'].apply(lambda x: 2018-x)

In [58]:
bike_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,1990,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1982,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1991,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,1975,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1966,1,52

In [60]:
bike_df = bike_df.drop('birth year', axis =1)

In [61]:
bike_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

In [65]:
bike_df[bike_df['age'] > 60].shape[0]

11837

In [70]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])

In [78]:
bike_df['trip duration'] = (bike_df['stoptime'] - bike_df['starttime'])

In [79]:
bike_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,0 days 00:27:15.365000
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,0 days 00:02:12.200000
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,0 days 00:55:37.898000
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,0 days 00:07:16.837000
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,0 days 02:20:57.993000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,0 days 00:07:23.648000
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,0 days 00:11:33.138000
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,0 days 00:05:12.997000
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,0 days 00:56:00.092000
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,0 days 00:03:45.051000

In [81]:
bike_df['trip duration'] = bike_df['trip duration'].dt.seconds

In [83]:
round(bike_df['trip duration'].mean())

1000

In [86]:
weekday = bike_df['starttime'].dt.dayofweek

In [87]:
bike_df['weekend'] = weekday.apply(lambda x: 1 if x in range(5, 7) else 0)

In [88]:
bike_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,1635,1
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,132,1
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,3337,1
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,436,1
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,8457,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,443,0
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,693,0
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,312,0
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,3360,0
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,225,0

In [89]:
bike_df[bike_df['weekend'] == 1].shape[0]

115135

In [93]:
starthour = bike_df['starttime'].dt.hour
starthour

0          0
1          0
2          0
3          0
4          0
          ..
299995    19
299996    19
299997    19
299998    19
299999    19
Name: starttime, Length: 300000, dtype: int64

In [98]:
def get_time_of_day(hour):
    if hour <= 6:
        return 'night'
    elif hour <= 12:
        return 'morning'
    elif hour <= 18:
        return 'day'
    elif hour <= 23:
        return 'evening'
    else:
        return None

In [99]:
bike_df['time_of_day'] = starthour.apply(get_time_of_day)
bike_df

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age,trip duration,weekend,time_of_day
0,2018-09-01 00:00:05.269,2018-09-01 00:27:20.634,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38,1635,1,night
1,2018-09-01 00:00:11.281,2018-09-01 00:02:23.481,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49,132,1,night
2,2018-09-01 00:00:20.649,2018-09-01 00:55:58.547,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43,3337,1,night
3,2018-09-01 00:00:21.746,2018-09-01 00:07:38.583,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34,436,1,night
4,2018-09-01 00:00:27.315,2018-09-01 02:21:25.308,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24,8457,1,night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.846,2018-09-05 19:15:51.494,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28,443,0,evening
299996,2018-09-05 19:08:28.370,2018-09-05 19:20:01.508,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36,693,0,evening
299997,2018-09-05 19:08:27.509,2018-09-05 19:13:40.506,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27,312,0,evening
299998,2018-09-05 19:08:29.230,2018-09-05 20:04:29.322,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43,3360,0,evening
299999,2018-09-05 19:08:29.711,2018-09-05 19:12:14.762,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52,225,0,evening

In [100]:
bike_df['time_of_day'].value_counts()

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

In [101]:
round(bike_df[bike_df['time_of_day'] == 'day'].shape[0] / bike_df[bike_df['time_of_day'] == 'night'].shape[0])

9